header {
    background-color: #07a5d4;
    color: #000000;
    padding: 1rem;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  ul, ol {
    margin-left: 2rem;
  }
